<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitanteinteressado.name %>
</p>

<%= link_to 'Edit', edit_visitanteinteressado_path(@visitanteinteressado) %> |
<%= link_to 'Back', visitanteinteressados_path %>
