<p id="notice"><%= notice %></p>

<p>
  <strong>Plataforma:</strong>
  <%= @plataforma.plataforma %>
</p>

<%= link_to 'Edit', edit_plataforma_path(@plataforma) %> |
<%= link_to 'Back', plataformas_path %>
