<section class="content-header">
    <h1>Novo Tipo de Projeto</h1>
    <ol class="breadcrumb">
        <a class="btn btn-app" href="<%= tiposprojetos_index_path %>">
            <i class="fa fa-reply"></i> Voltar
        </a>
    </ol>
</section>
<section class="content">
    <div class="container">
        <%= render 'form' %>
    </div>
</section>