<section class="content-header">
    <ol class="breadcrumb">
        <a class="btn btn-app" href="<%= classificacoes_index_path %>">
            <i class="fa fa-reply"></i> Voltar
        </a>
    </ol>
</section>
<section class="content">
    <div class="container">
        <%= render "form" %>



    </div>
</section>