<section class="content-header">
    <h1>Novo Parceiro</h1>
    <ol class="breadcrumb">
        <a class="btn btn-app" href="<%= parceiros_index_path %>">
            <i class="fa fa-reply"></i> Voltar
        </a>
    </ol>
</section>

<section class="content">
    <div class="container">

        <%= render 'form' %>
    </div>
</section>