<div class="nested-fields">
    <div class="contatof field">
        <span>Contato:</span>
        <%= f.text_field :contato, class: 'contato-text' %>
            <%= link_to_remove_association('Excluir', f ) %>
    </div>

</div>