<div class="nested-fields">
    <div class="emailf field">
        <span>E-mail:</span>
        <%= f.text_field :email, class: 'email-text' %>
            <%= link_to_remove_association('Excluir', f ) %>
    </div>

</div>