<div class="row">
    <div class="interessado">

        <%= render 'form' %>


    </div>

    <div class="login">

        <%= render 'formlogin' %>
    </div>

    <div class="contato row">
        <%= render 'formcontato' %>
    </div>

</div>