<section class="content-header">
    <h1>Fale mais de você...
    </h1>
    <ol class="breadcrumb">
        <a class="btn btn-app" href="<%= ideia_suasideias_path %>">
            <i class="fa fa-reply"></i> Voltar
        </a>
    </ol>
</section>
<section class="content">

    <%= render "form" %>

</section>