<p id="notice"><%= notice %></p>

<p>
  <strong>Palavra:</strong>
  <%= @palavras_chafe.palavra %>
</p>

<%= link_to 'Edit', edit_palavras_chafe_path(@palavras_chafe) %> |
<%= link_to 'Back', palavras_chaves_path %>
